{#

 This file is part of the RPSContactBundle package.

 (c) Yos Okusanya <yos.okusanya@gmail.com>

 This source file is subject to the MIT license that is bundled
 with this source code in the file LICENSE.
#}

{% extends 'RPSContactBundle:Default:layout.html.twig' %}

{% block title 'title.edit_contact'|trans({}, 'RPSContactBundle') %}

{% block content %}

    {{ form_start(form, {'action': path('rps_contact_edit', {'id': id}), 'method': 'POST', 'class': 'rps-contact-form', 'attr': {'class': 'form-horizontal rps-contact-form'} }) }}

        <div class="form-btns">
            {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
            {{ form_widget(form.saveAndNew, {'attr': {'class': 'btn btn-info'}}) }}
            <a class="btn btn-danger" href="{{ path('rps_contact_cancel') }}">{{ 'link.cancel'|trans({}, 'RPSContactBundle') }}</a>
        </div>

        <div class="row row-padded-top">
            <div class="rps-contact-avatar">
                {% if filter_image %}
                    <img src="{{ rps_get_avatar( contact.imagePath, false, 'rps_contact_avatar' ) }}"/>
                {% else %}
                    <img src="{{ rps_get_avatar( contact.imagePath )  }}"/>
                {% endif %}
            </div>

            {% if hasAvatar %}
                <div class="checkbox">
                    <label><input type="checkbox" name="deleteAvatar" value="1" / >{{ 'form.delete_avatar'|trans({}, 'RPSContactBundle') }}</label>
                </div>
            {% endif %}

        </div>

        <div class="row row-padded-top">
            {{ form_widget(form) }}
        </div>

        <input type="hidden" name="id" value="{{ id }}" />

    {{ form_end(form) }}
{% endblock %}
