{#

 This file is part of the RPSContactBundle package.

 (c) Yos Okusanya <yos.okusanya@gmail.com>

 This source file is subject to the MIT license that is bundled
 with this source code in the file LICENSE.
#}

{% extends 'RPSContactBundle:Default:layout.html.twig' %}

{% block title 'title.my_contacts'|trans({}, 'RPSContactBundle') %}

{% block content_navbar %}
    {{ parent() }}
    <li>
        <a href="{{ path( 'rps_contact_new') }}">
            <i class="glyphicon glyphicon-plus-sign"></i> {{ 'link.add'|trans({}, 'RPSContactBundle') }}
        </a>
    </li>
    <li>
        <a href="#" onclick="deleteContacts()">
            <i class="glyphicon glyphicon-trash"></i> {{ 'link.delete'|trans({}, 'RPSContactBundle') }}
        </a>
    </li>
{% endblock %}

{% block content %}
    <div class="rps-contact-container">
        <div class="rps-contact-list">
            <form method="post" action={{ path( 'rps_contact_list') }} id="rpsContactListForm">
                {% if contacts|length > 0 %}

                    <div class="rps-contact-panel-container">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <input type="checkbox" id="rpsCheckboxMasterSelect" class="rps-checkbox-list" >
                                    <span class="rps-contact-name"></span>
                                </h3>
                            </div>
                        </div>


                        {% set edit_text =  'link.edit'|trans({}, 'RPSContactBundle')  %}
                        {% set delete_text =  'link.remove'|trans({}, 'RPSContactBundle')  %}

                        {% for contact in contacts %}

                            {% set name = contact.firstName %}
                            {% set facebook_link, gplus_link, twitter_link = '', '', ''  %}

                            {% if contact.lastName %}
                                {% set name = contact.firstName ~ ' ' ~  contact.lastName %}
                            {% endif %}

                            {% if contact.facebookUsername %}
                                {% set facebook_link = 'http://www.facebook.com/' ~ contact.facebookUsername %}
                            {% elseif contact.facebookUid %}
                                {% set facebook_link = 'http://www.facebook.com/profile.php?id=' ~ contact.facebookUid %}
                            {% endif %}

                            {% if contact.gplusUsername %}
                                {% set gplus_link = 'https://plus.google.com/' ~ contact.gplusUsername %}
                            {% elseif contact.gplusUid %}
                                {% set gplus_link = 'https://plus.google.com/' ~ contact.gplusUid %}
                            {% endif %}

                            {% if contact.twitterUsername %}
                                {% set twitter_link = 'https://twitter.com/' ~ contact.twitterUsername %}
                            {% endif %}

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        <input type="checkbox" class="rps-checkbox-list" name="ids[]" value="{{ contact.id }}">
                                    <span class="rps-contact-name">
                                        <a href="{{ path( 'rps_contact_show', {'id': contact.id} ) }}">{{ name }}</a>
                                    </span>
                                    </h3>
                                </div>

                                <div class="panel-body">
                                    <div class="row">
                                        <!-- avatar -->
                                        <div class="col-xs-6 col-sm-3 col-md-2 rps-contact-avatar">
                                            <a href="{{ path( 'rps_contact_show', {'id': contact.id} ) }}" class="thumbnail">
                                                {% if filter_image %}
                                                    <img src="{{ rps_get_avatar( contact.imagePath, false, 'rps_contact_thumb' ) }}"/>
                                                {% else %}
                                                    <img src="{{ rps_get_avatar( contact.imagePath )  }}"/>
                                                {% endif %}
                                            </a>
                                        </div>

                                        <!-- social icons -->
                                        <div class="col-xs-6 col-sm-9 col-md-10">
                                            <div class="rps-contact-social-icons">
                                                {% if contact.email %}
                                                    <i class="fa fa-envelope fa-fw fa-2x" data-toggle="popover" title="{{ contact.email }}" class="rps-tooltip"></i>
                                                {% endif %}

                                                {% if contact.phone %}
                                                    <i class="fa fa-phone-square fa-fw fa-2x" data-toggle="popover" title="{{ contact.phone }}" class="rps-tooltip"></i>
                                                {% endif %}

                                                {% if facebook_link %}
                                                    <a href="{{ facebook_link }}">
                                                        <span class="fa fa-facebook-square fa-2x" class="rps-tooltip"></span>
                                                    </a>
                                                {% endif %}

                                                {% if twitter_link %}
                                                    <a href="{{ twitter_link }}">
                                                        <span class="fa fa-twitter-square fa-2x" class="rps-tooltip"></span>
                                                    </a>
                                                {% endif %}

                                                {% if gplus_link %}
                                                    <a href="{{ gplus_link }}">
                                                        <span class="fa fa-google-plus-square fa-2x" class="rps-tooltip"></span>
                                                    </a>
                                                {% endif %}

                                            </div><!-- /rps-social-icons -->
                                        </div><!-- /col-xs-6 col-sm-9 col-md-10 -->
                                    </div>
                                </div><!-- /panel-body-->
                                <div class="panel-footer clearfix">
                                    <div class="pull-right">
                                        <a href="{{ path( 'rps_contact_edit', {'id': contact.id} ) }}" title="{{ edit_text }}">
                                            <i class="fa fa-pencil fa-fw" data-toggle="tooltip" title="{{ edit_text }}"></i>{{ edit_text }}
                                        </a>

                                        <span class="action-seperator"></span>

                                        <a href="{{ path( 'rps_contact_remove', {'id': contact.id} ) }}" onclick="if(!removeContact()){return false;}">
                                            <i class="glyphicon glyphicon-trash" data-toggle="tooltip" title="{{ delete_text }}"></i> {{ delete_text }}
                                        </a>
                                    </div>
                                </div>
                            </div><!-- /panel -->
                        {% endfor %}
                    </div><!-- /rps-comment-panel-container -->

                {% endif %}
            </form>
        </div><!-- /rps-contact-list -->
    </div><!-- /rps-contact-container -->

    <div class="rps-pager">
        {{ pagination_html|raw }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
<script>
function removeContact()
{
    return confirm("{{ 'confirm_contact_remove'|trans({}, 'RPSContactBundle') }}");
}

function deleteContacts()
{
    if ( checkContactSelected()) {
        alert("{{ 'flash.select_error.delete'|trans({}, 'RPSContactBundle') }}");
        return;
    }

    if (confirm("{{ 'confirm_contacts_delete'|trans({}, 'RPSContactBundle') }}")) {
        submitContactForm('{{ path('rps_contact_delete') }}');
    }
}

function submitContactForm(url)
{
    var contactForm = jQuery('#rpsContactListForm');
    contactForm.attr("action", url);
    contactForm.submit();
}

function checkContactSelected()
{
    return jQuery('.rps-checkbox-list:checkbox:checked').length == 0;
}

(function($){
    $(function() {
        $('#rpsCheckboxMasterSelect').change(function(){
            $('.rps-checkbox-list').prop('checked', $(this).prop('checked'));
        });
    });

    $('[data-toggle="tooltip"]').tooltip({ placement: 'top'});
    $('[data-toggle="popover"]').popover({ placement: 'top'});

    $('body').on('click', function (e) {
        $('[data-toggle="popover"]').each(function () {
            //the 'is' for buttons that trigger popups
            //the 'has' for icons within a button that triggers a popup
            if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                $(this).popover('hide');
            }
        });
    });
}(jQuery));
</script>
{% endblock %}