{#

 This file is part of the RPSContactBundle package.

 (c) Yos Okusanya <yos.okusanya@gmail.com>

 This source file is subject to the MIT license that is bundled
 with this source code in the file LICENSE.
#}

{% extends 'RPSCoreBundle::layout.html.twig' %}

{% set title = 'title.my_contacts'|trans({}, 'RPSContactBundle') %}
{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h2>{{ title }}</h2>{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('bundles/rpscontact/css/contact.css') }}" />
{% endblock %}

{% block content_header %}
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only"> {{ 'toggle_navigation'|trans({}, 'RPSContactBundle') }}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {% block content_navbar %}
                        <li class="active">
                            <a href="{{ path('rps_contact_list') }}">
                                <i class="glyphicon glyphicon-home"></i>  {{ 'link.home'|trans({}, 'RPSContactBundle') }}
                            </a>
                        </li>
                    {% endblock %}
                </ul>
            </div>
        </div><!-- /container -->
    </div>
{% endblock %}
